@import url("base.css");
body{color: #000;}
/*  #f9f9f9 url("../img/bg_boleta.jpg")   background
url("../img/bg_boleta_planilla.jpg") no-repeat #F9F9F9
*/
#cnt_boleta{width:935px;display:block;height:450px;background: none;padding:72px 9px  0 0;position:relative;}
#cnt_boleta_inner{display:block;}
#header{display: block;height: auto;left: 40px;overflow: hidden;position: absolute;top: 25px;width: 95%;}
#brand{width:380px;height:42px;display:block;margin:9px 0 0 0;float:left;}
	.img_logo{margin-left:12px;float:left;}
	h1.logo{display: block;font-family: "times new roman";font-size: 17px;font-weight: bold;height: 50px;line-height: 17px;margin: 0;padding: 0 0 0 208px;text-transform: uppercase;width: 180px;}
	h2.slogan{display:block;font-family: "times new roman";font-size: 11px;font-weight: normal;height: 12px;letter-spacing: 2px;margin: 0;padding: 0 0 0 208px;width: 180px;}
	em.rd{ display: block;font-family: "times new roman";font-size: 8px;font-style: normal;font-weight: normal;    letter-spacing: 0;margin: 0;padding: 0 0 0 208px;width: 180px;}
	
#cnt_desc_link{  display: block;float: left;margin-right:21px;padding: 4px 0 0;width: 212px;} 	
#cnt_desc_link p{font-size: 15px;line-height: 17px;margin: 0;text-align: center;}

#cnt_num_boleta{background: #fffd;border:2px solid #000;-moz-border-radius:10px;width:304px;float:left;padding:5px;text-align:center;}
#cnt_num_boleta .num_ruc{font-weight:bold;font-size:20px;margin:0;}
#cnt_num_boleta .boleta_text{font-size: 18px;font-weight: bold;letter-spacing: -1px;margin: 0 0 6px;}
#cnt_num_boleta .num_boleta span.serial_boleta{float: left;font-size: 20px;font-weight: bold;height: 30px;line-height: 24px;margin: 0 0 0 31px;text-align: left;width: 74px;}
#cnt_num_boleta .num_boleta span.number_boleta{float: left;font-size: 20px;font-weight: bold;letter-spacing: -1px;margin: 7px 0 0 5px;}

.cnt_block_mat{margin-left:5px;display:block;width:99%;float:left;}
.cnt_main_block_imp{display:block;}
.cnt_cod_mat{width:158px;float:left;margin-right:3px;}
.title{font-size: 12px;font-weight: bold;height: 12px;margin: 0;}
.cnt_block_imp{border: 2px solid #000000;border-radius: 10px 10px 10px 10px;font-size: 14px;height: 22px;line-height: 15px;padding: 0 5px 0 5px;}

.cnt_fecha_mat{float: left;margin: 0 4px 0 0;width: 156px;}

.cnt_apenom_mat{font-family: "times new roman";letter-spacing: 4px; float:left;margin: 0 10px 0 53px;width:525px;}
.apenom_mat{height:16px;}

.cnt_dni_mat{float: left;margin: 0 4px 0 0;width: 175px;}
.dni_mat{border-radius: 10px 10px 10px 10px;float:left;font-size: 16px;height: 15px;letter-spacing: 4px; line-height: 20px;padding: 0 5px 0 5px;width:256px;position: relative; top: 6px;}
.dni_mat2{top:0;}
.text_dni_mat{float: left;font-size: 8px;font-weight: bold;line-height: 8px;margin-right: 2px;width:40px;}

.cnt_programa_mat{ float:left;margin: 0 0px 0 0;width:917px;}
.cnt_direccionlab_mat{ float:left;margin: 0 0px 0 0;width:917px;}
.direccionlab_mat{height:34px;}

 .cnt_descripcion_mat{ float:left;margin: 0 0px 0 0;width:917px;}
 
#cnt_boleta .descripcion_mat{height:120px;padding:0;}
#cnt_boleta_planilla .descripcion_mat{height:489px;padding:0;}

#cnt_boleta .descripcion_mat_l{width:703px;float:left;height:115px;border-right:2px solid #000;padding: 0 5px;}
#cnt_boleta .descripcion_mat_r{width:188px;float:left;height:115px;padding: 0 5px;}
#cnt_boleta .span_mat_l{letter-spacing: 4px;width:703px;float:left;height:16px; padding: 0 5px;}
#cnt_boleta .span_mat_r{letter-spacing: 4px;width:188px;float:left;height:16px;padding: 0 5px;}


#cnt_boleta_planilla .descripcion_mat_l{width:754px;float:left;height:489px;border-right:2px solid #000;padding: 0 5px;}
#cnt_boleta_planilla .descripcion_mat_r{width:137px;float:left;height:489px;padding: 0 5px;}




.cnt_bottom_mat_l{display:block;float:left;width: 600px;margin-right:9px;}
	.referencia_mat{height:16px;width:400px;}

	.cnt_bottom_inner_mat{margin:0;}
	.cnt_bottom_inner_mat_l{width:435px;float:left;margin-right:8px;}
	.nomapecont_mat{height:36px;}

	.cnt_bottom_inner_mat_r{width:151px;float:left;}
	.cnt_firma_mat{border-radius: 15px;height:119px;margin: -5px 0 0;}

.cnt_bottom_mat_r{display:block;float:left;width: 314px;}

#cnt_boleta .text_total{float: left;font-size: 17px;font-weight: bold;height: 18px;margin: 21px 6px 0 18px;width:78px;}
#cnt_boleta_planilla .text_total{float: left;font-size: 17px;font-weight: bold;height: 18px;margin: 21px 41px 0 38px;width:78px;}

#cnt_boleta .total_mat{border-radius: 10px 10px 10px 10px;float:left;font-size: 15px;height: 18px;line-height: 20px;margin:5px 0 0 0;padding: 0 5px 0 5px;width:171px;}
#cnt_boleta_planilla .total_mat{border-radius: 10px 10px 10px 10px;float:left;font-size: 25px;height: 49px;line-height: 49px;margin:5px 0 0 0;padding: 0 5px 0 5px;width:134px;}

.title, .text_dni_mat,.text_total,.num_ruc,.boleta_text,.logo, .slogan, .rd, .serial_boleta, .number_boleta{text-indent:-9999px;}
#cnt_desc_link p{display:none;}
.img_logo, #btn_imprimir{display:none;}
.cnt_block_imp, #cnt_num_boleta{border:2px solid transparent;}
#cnt_boleta_planilla .descripcion_mat_l, #cnt_boleta .descripcion_mat_l{border-right:2px solid transparent;}
