#footer { font-size:11px; }
#footer .block_various_links {
    list-style: none outside none;
    padding: 10px 0 0 5px;
    width: 50%;
}
#footer .block_various_links li { display: inline; }
#footer .block_various_links li a { 
    background: url('/f/img/vs-bottom-navigation-dot.png') no-repeat scroll right center transparent;
    font-size: 10px;
    padding: 0 10px 0 0;
    text-transform: uppercase;
}
#footer .block_various_links li.last_item a { background:none; }

/* Block CMS links */
.informations_block_left .block_content { padding-top: 3px }

/* Custom content */
#footer .wrapper {
    color: #817871;
    position: relative;
}
#copyright {
    padding: 0 5px 10px;
    width: 50%;
}
#footer-follow {
    position: absolute;
    right: 157px;
    top: 25px;
    width: 200px;
}
#footer-facebook {
    background: url('/f/img/footer-facebook.png') no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 16px;
    margin: 0 20px;
    text-indent: -99999em;
    width: 76px;
}
#footer-twitter {
    background: url('/f/img/footer-twitter.png') no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 15px;
    text-indent: -99999em;
    width: 77px;
}
#credit {
    font-size: 11px;
    margin-top: 10px;
    position: absolute;
    right: 5px;
    text-align: right;
    top: 0;
    width: 140px;
}
#dapurpixel {
    background: url('/f/img/dapurpixel.png') no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 19px;
    margin-top: 5px;
    text-align: left;
    text-indent: -99999em;
    width: 95px;
}