/*
 * jQuery Nivo Slider v2.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.roundabout-holder { padding: 0; height: 402px; list-style: none; width: 432px; margin: 0 auto}
.roundabout-moveable-item { 
	background: transparent;
    cursor: pointer;
	height: 402px; 
    width: 632px;     
}
.roundabout-moveable-item img {
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	box-shadow: 0px 10px 30px #000;
	-webkit-box-shadow: 0px 10px 30px #000;
	-moz-box-shadow: 0px 10px 30px #000;
	-o-box-shadow: 0px 10px 30px #000;
	-ms-box-shadow: 0px 10px 30px #000;
	position: relative;
	width: 100%;	
	z-index: 9999;
	behavior: url('/tienda/PIE.htc');
}
.roundabout-in-focus {
	cursor: auto;
}
#filler {
	text-align: center;
	height: 1em;
}