body{
	margin: 0px;
	background: url(../images/pattern1.png) repeat;
}

html, body, #maq_root {
  	height:100%; 
  	min-height:100%;
}

#maq_root{
	width: 100%;
	position: absolute;
}

html > body, html > body #maq_root {
  	height:auto;
}


#maq_alineacion1{
	width: 960px;
	height: 510px;	
	margin: 0px auto;
}

#maq_cabecera{
	width: 960px;
	height: 470px;
}

#maq_fondo1{
	width: 100%;
	height: auto;
	padding-bottom:166px;
}

#maq_principal{
	width: 960px;
	height: auto;
	padding: 0px 0px 20px 0px;
}

#maq_fondo2{
	width: 100%;
	height: 166px;
	background-color: #000;
	position: absolute;
	bottom: 0px;
}

#maq_alineacion2{
	width: 960px;
	height: auto;
	margin: 0px auto;
}

#maq_alineacion3{
	width: 960px;
	height: 166px;
	margin: 0px auto;
}


